<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="httpAuth" type="HttpAuth.Configuration.HttpAuthSection,HttpAuthenticationModule" />
  </configSections>
  <appSettings file="custom.appSettings.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--
    <add key="smtp.network" value="{Host:'localhost', Port:587}" />
    <add key="smtp.credential" value="{UserName:'username', Password:'password'}" />
    <add key="smtp.from" value="no-replay@example.com" />
    -->
    
    <!--
    Set up membership user account here.
    <add key="User.{username}" value="[{hash algorithm, "sha1", "md5"}:[{salt}:]]{hash of password}" />
    
    Exapmle: user name and password is "foo"/"bar"
    
    Case 1) If hash algorithm missing, use "sha1". "62cdb7..." is sha1 hash of "bar".
    <add key="User.foo" value="62cdb7020ff920e5aa642c3d4066950dd1f01f4d" />
    
    Case 2) Using "md5", but no salt. "37b51d..." is md5 hash of "bar".
    <add key="User.foo" value="md5:37b51d194a7513e45b56f6524f2d51f2" />
    
    Case 3) "2058a..." is md5 hash of "boo:bar".
    <add key="User.foo" value="md5:boo:2058a0df9e5b5cb970a1c8d7783a8ec8" />
    -->
    <add key="User.admin" value="md5:5f4dcc3b5aa765d61d8327deb882cf99" />
    <add key="enableSimpleMembership" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="appSettings">
      <providers>
        <clear />
        <add name="appSettings" type="Toolbelt.Web.AppSettingsMembershipProvider,AppSettingsMembershipProvider" />
      </providers>
    </membership>
    <authentication mode="None">
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <httpAuth mode="Basic" realm="Secret">
    <credentials source="MembershipProvider" passwordFormat="Clear">
    </credentials>
  </httpAuth>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
